$primaryFont: "Roboto", sans-serif;
$primaryColor: #171924;
$lightColor: #58667e;
$green: #16c784;
$red: #ea3943;
$gray: #eff2f5;
$blue: #3861fb;

$bodyGradient: linear-gradient(
  rgb(248, 250, 253) 0%,
  rgba(248, 250, 253, 0) 413px
);
$tableColor: #f8fafd;
